# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/BestTimeToBuyAndSellStock.class
/CombinationSumIII.class
/DivideTwoInteger.class
/GreyCode.class
/LinkedListCycle$ListNode.class
/LinkedListCycle.class
/Main.class
/NumberOfIslands.class
/PalindromePartition.class
/SearchinRotatedSortedArray.class
/SingleNumber.class
/ThreeSUM.class
/addBinary.class
/gasStation.class
/majorityElementI.class
/majorityElementII.class
/medianInTwoSortedArray.class
/pathSumI$TreeNode.class
/pathSumI.class
/recurringDecimal.class
/reverseInteger.class
/spiralM.class
/twoSum.class
/validSudoku.class
/SubstringWithConcatenationOfAllWords.class
/searchInSortedRotatedArray.class
